<div class="home">
    <section>
        <H1>Bienvenido al Inicio Futbolero</H1>
        <p>Los <a href="https://www.ligaprofesional.ar/clubes">28 clubes</a> se enfrentarán todos contra todos a una rueda y quien más puntos sume será el campeón y clasificará a la Copa Libertadores 2024.</p>
        
    </section>
    <a class="button" href="./tabla-de-posiciones">Ver la Tabla de Posiciones</a>
</div>